body {
font-family: monospace;
font-size: 15px;
background-color: rgb(39, 89, 146);
display: flex;
flex-direction: column;
padding: 10px;
background-image: url(https://images4.alphacoders.com/106/thumb-1920-106826.jpg);
}

header {

    

}

h1 {
color: rgb(255, 255, 255);
font-size: 40px;
}

article {
background-color: rgb(0, 0, 0);
color:rgb(255, 255, 255);
padding: 20px;
}


img {
}

footer {
background: linear-gradient(135deg, #0000009d 0%, #2a62b6, #00000093 100%);
display: flex;
justify-content: center;
align-items: center;
}

nav ul {
display: flex;
justify-content: space-around;;        
list-style-type: none;
background-color: #154c8b;
border: 5px solid #0000002d;
padding: 10px;
}

a:link {
color: #8785e6a2;
}

a:hover {
color: #ffffff;
}

form {
display: flex;
flex-direction: column;
align-items: center;
}
